*.go
compile
autom4te.cache
aclocal.m4
build-environ
guile-paxos-*.tar.gz
config.log
configure
depcomp
config.status
config.sub
config.guess
install-sh
Makefile
Makefile.in
missing
stamp-h1
tests/Makefile.in
tests/Makefile
acinclude.m4
guile-paxos.spec
Makefile
.deps
.cache
tags
*.log
test-driver
